<!DOCTYPE html>
<html ng-app="application">
<head lang="en">
  <meta charset="utf-8">
  <title>Flickr Search</title>
  <script type='text/javascript' 
    src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
  <script type='text/javascript' 
    src='https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js'></script>
  <script type='text/javascript' 
    src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js'></script>
  <script type="text/javascript" 
    src='https:///cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js'></script>
  <link rel='stylesheet' 
    href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css'>
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body class='{{bodyClass}}'  ng-controller='FlickSearchController'>
  <div class='container-fluid'>
    <div class='row-fluid' ng-show='menuVisible=="hide menu"'>
      <h1>Flickr search <small> a tool to search for Flickr images</small></h1>
      <h5><small>Author : M.PARAISO, Contact mparaiso@online.fr</small></h5>
      <div>
        <small class="muted">Instructions : Enter a 4 or more letter keyword to start a search. 
        </small>
      </div>
      <table class='table'>
        <tbody>
          <tr  >
            <td>
              UI theme :
            </td>
            <td>
              <select ng-model='bodyClass'>
                <option value='light'>Light</option>
                <option value='dark'>Dark</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for='search'>Search :</label>
            </td>
            <td>
              <input required="true" ng-change='search(keyword)' 
              placeholder='Enter a search text' type='text' name='search' ng-model='keyword'/>
              <i ng-click='keyword=null' ng-show='keyword' class='icon-remove'></i>
              <!--<br/><strong>{{keyword}}</strong>-->
            </td>
          </tr>
            <!-- donne la possibilité d'entrer sa prope key
            <tr>
            <td><label for='api-key'>
              Flickr API key : </label></td>
              <td>
                <input ng-change='search(keyword)'  required='true' ng-change="setToLocalStorage('apikey',apiKey)" 
                placeholder='Enter your API-key' type='text' name='api-key' ng-model='apiKey'/>

              </td>
            </tr> 
          -->
          <tr>
            <td><label for='max-results-per-page'>
              Max results per page : </label></td>
              <td>
                <input ng-change='search(keyword)'  required='true' type='number'
                placeholder='Enter your API-key' type='text' name='max-results-per-page' ng-model='rpp'/>
                <!--<br/><strong>{{apiKey}}</strong>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='row-fluid'><a class='btn btn-mini' ng-click='showMenu(menuVisible)'>{{menuVisible}}</a>
        <a class='btn btn-mini pull-right' ng-click='showHistory(historyVisible)'>{{historyVisible}}</a>
        <hr/>
      </div>
      <div class='row-fluid'></div>
      <h3>Search results for : {{keyword}} </h3>
      <div class='row-fluid'>
        <h3 ng-show="!images.length">
          No images found !
        </h3>
        <div ng-show="serverMessage" class='alert alert-warn'>{{serverMessage}}</div>
        <ul class='thumbnails'>
          <li class='thumbnail' ng-repeat='image in images'><a ng-click='setSelectedImage($index)' app-modal='#modal'><img  data-image-hover title='{{image.title}}' data-image-loader ng-src='{{image.src}}' src='http://placehold.it/150x150'></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <!-- Modal -->
    <div id="modal"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">{{selectedImage.title}}</h5>
      </div>
      <div class="modal-body" app-transitional>
        <img data-image-loader-fade  src="{{selectedImage.bigSrc}}" alt="{{selectedImage.title}}">
      </div>
      <div class="modal-footer">
        <a ng-click='getPreviousImage()' class='pull-left' href="#">previous</a> <a ng-click='getNextImage()'>next</a>
        <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</body>
<script type='text/javascript' src='js/app.js'></script>
</html>